!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}/
    %title visa.haml
    / #include virtual="/convert-pdf-to-html/includes/pdf-to-word-head-tag.htm"
    %meta{:content => "BCL easyConverter SDK 5.0.08", :name => "generator"}/
    :css
      body {margin-top: 0px;margin-left: 0px;}

      #page_1 {position:relative; overflow: hidden;margin: 74px 0px 88px 110px;padding: 0px;border: none;width: 706px;}





      .ft0{font: bold 24px 'Arial';line-height: 29px;}
      .ft1{font: bold 11px 'Arial';line-height: 12px;}
      .ft2{font: 13px 'Arial';line-height: 16px;}
      .ft3{font: 16px 'Arial';line-height: 18px;}
      .ft4{font: 13px 'Arial';margin-left: 7px;line-height: 16px;}
      .ft5{font: 13px 'Arial';text-decoration: underline;line-height: 15px;}
      .ft6{font: 1px 'Arial';line-height: 1px;}
      .ft7{font: 19px 'Arial';line-height: 22px;}
      .ft8{font: bold 13px 'Arial';line-height: 16px;}
      .ft9{font: 1px 'Arial';line-height: 3px;}
      .ft10{font: 1px 'Arial';line-height: 15px;}
      .ft11{font: 1px 'Arial';line-height: 6px;}
      .ft12{font: 1px 'Arial';line-height: 5px;}
      .ft13{font: 1px 'Arial';line-height: 4px;}
      .ft14{font: 1px 'Arial';line-height: 7px;}

      .p0{text-align: left;padding-left: 169px;margin-top: 0px;margin-bottom: 0px;}
      .p1{text-align: left;padding-left: 149px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p2{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p3{text-align: left;padding-left: 185px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p4{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p5{text-align: left;padding-left: 79px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p6{text-align: left;padding-left: 25px;margin-top: 10px;margin-bottom: 0px;}
      .p7{text-align: left;margin-top: 22px;margin-bottom: 0px;}
      .p8{text-align: left;padding-right: 161px;margin-top: 10px;margin-bottom: 0px;}
      .p9{text-align: left;padding-left: 17px;margin-top: 9px;margin-bottom: 0px;}
      .p10{text-align: left;padding-left: 17px;margin-top: 1px;margin-bottom: 0px;}
      .p11{text-align: left;padding-left: 28px;padding-right: 193px;margin-top: 1px;margin-bottom: 0px;text-indent: -11px;}
      .p12{text-align: left;padding-right: 113px;margin-top: 9px;margin-bottom: 0px;}
      .p13{text-align: left;padding-right: 117px;margin-top: 18px;margin-bottom: 0px;}
      .p14{text-align: left;padding-left: 51px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p15{text-align: right;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p16{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p17{text-align: left;padding-left: 18px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p18{text-align: right;padding-right: 211px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p19{text-align: right;padding-right: 18px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p20{text-align: right;padding-right: 128px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p21{text-align: left;padding-left: 29px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p22{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
      .p23{text-align: center;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

      .td0{padding: 0px;margin: 0px;width: 309px;vertical-align: bottom;}
      .td1{padding: 0px;margin: 0px;width: 184px;vertical-align: bottom;}
      .td2{padding: 0px;margin: 0px;width: 423px;vertical-align: bottom;}
      .td3{padding: 0px;margin: 0px;width: 10px;vertical-align: bottom;}
      .td4{padding: 0px;margin: 0px;width: 33px;vertical-align: bottom;}
      .td5{padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;}
      .td6{padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
      .td7{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 33px;vertical-align: bottom;}
      .td8{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;}
      .td9{padding: 0px;margin: 0px;width: 161px;vertical-align: bottom;}
      .td10{padding: 0px;margin: 0px;width: 262px;vertical-align: bottom;}
      .td11{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 262px;vertical-align: bottom;}
      .td12{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
      .td13{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
      .td14{padding: 0px;margin: 0px;width: 157px;vertical-align: bottom;}
      .td15{padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
      .td16{padding: 0px;margin: 0px;width: 93px;vertical-align: bottom;}

      .tr0{height: 12px;}
      .tr1{height: 19px;}
      .tr2{height: 37px;}
      .tr3{height: 18px;}
      .tr4{height: 21px;}
      .tr5{height: 24px;}
      .tr6{height: 20px;}
      .tr7{height: 3px;}
      .tr8{height: 15px;}
      .tr9{height: 55px;}
      .tr10{height: 6px;}
      .tr11{height: 5px;}
      .tr12{height: 4px;}
      .tr13{height: 45px;}
      .tr14{height: 7px;}
      .tr15{height: 25px;}
      .tr16{height: 23px;}
      .tr17{height: 17px;}
      .tr18{height: 26px;}

      .t0{width: 493px;margin-left: 7px;font: bold 11px 'Arial';}
      .t1{width: 580px;margin-top: 11px;font: 13px 'Arial';}
  %body
    / #include virtual="/convert-pdf-to-html/includes/pdf-to-word-body-tag-02242014.htm"
    #page_1
      %p.p0.ft0 6101 Esquire Frontline
      %table.t0{:cellpadding => "0", :cellspacing => "0"}
        %tr
          %td.tr0.td0
            %p.p1.ft1 4550 Kennedy Drive Suite 1
          %td.tr0.td1
            %p.p2.ft1 East Moline, IL 61244
        %tr
          %td.tr1.td0
            %p.p3.ft2 Contact Phone #
          %td.tr1.td1
            %p.p4.ft2 Contact Fax #
        %tr
          %td.tr2.td0
            %p.p4.ft3 Date:___________________
          %td.tr2.td1
            %p.p5.ft3 Dollar Amount:
      %p.p6.ft3 ,
      %p.p7.ft2 Your account has been debited due to a chargeback initiated by the cardholder's bank.
      %p.p8.ft2 If you disagree with this debit and would like to dispute this chargeback, please mail/fax all LEGIBLE copies of the item(s) below, along with this letter, to the contact information above.
      %p.p9.ft2
        %span.ft2 -
        %span.ft4 Written rebuttal that specifically addresses the cardholder complaint.
      %p.p10.ft2
        %span.ft2 -
        %span.ft4 Copies of a signed sales draft.
      %p.p11.ft2
        %span.ft2 -
        %span.ft4 Copies of signed contract, invoice, guest folio, email, order form, rental agreement, delivery tracking log, etc, which will help document your rebuttal.
      %p.p12.ft5 Note for Visa Chargebacks: If documents are submitted which do not remedy the chargeback the card issuing center can, and will, file arbitration directly against you, the merchant. This action forces you, the merchant, to accept the arbitration filing (withdraw) at a cost or to proceed with the arbitration case filing, which carries a higher cost than withdrawal. However, for small chargeback amounts you may choose to accept the chargeback rather than attempt a representment and incur additional fees. (No response is necessary to accept the chargeback). Merchants DO NOT have to represent chargebacks and may pursue outside collections against the cardholder.
      %p.p13.ft2 Please respond no later than fourteen (14) days from the date of this letter. Failure to respond within the required time frame may forfeit your chargeback rights. The MC/Visa Chargeback Handling fee shown below may be in addition to any Chargeback fee assessed by your bank or agent.
      %table.t1{:cellpadding => "0", :cellspacing => "0"}
        %tr
          %td.tr3.td2{:colspan => "2"}
            %p.p14.ft2 Chargeback Dollar Amount
          %td.tr3.td3
            %p.p4.ft6  
          %td.tr3.td4
            %p.p4.ft6  
          %td.tr3.td5
            %p.p4.ft2
          %td.tr3.td6
            %p.p4.ft6  
        %tr
          %td.tr4.td2{:colspan => "2"}
            %p.p14.ft2 MC/Visa Chargeback Handling Fee
          %td.tr5.td3{:rowspan => "2"}
            %p.p15.ft7 +
          %td.tr6.td7
            %p.p4.ft6  
          %td.tr6.td8
            %p.p16.ft2 $0.00
          %td.tr4.td6
            %p.p4.ft6  
        %tr
          %td.tr3.td9{:rowspan => "2"}
            %p.p14.ft8 TOTAL AMOUNT
          %td.tr3.td10{:rowspan => "2"}
            %p.p17.ft8 DEBITED TO YOUR ACCOUNT
          %td.tr7.td4
            %p.p4.ft9  
          %td.tr7.td5
            %p.p4.ft2
          %td.tr7.td6
            %p.p4.ft9  
        %tr
          %td.tr8.td3
            %p.p4.ft10  
          %td.tr8.td4
            %p.p4.ft10  
          %td.tr8.td5
            %p.p4.ft10  
          %td.tr8.td6
            %p.p4.ft10  
        %tr
          %td.tr9.td9{:rowspan => "3"}
            %p.p4.ft2 Reason Code:
          %td.tr10.td10
            %p.p4.ft11  
          %td.tr10.td3
            %p.p4.ft11  
          %td.tr11.td7
            %p.p4.ft12  
          %td.tr11.td8
            %p.p4.ft12  
          %td.tr10.td6
            %p.p4.ft11  
        %tr
          %td.tr12.td10
            %p.p4.ft13  
          %td.tr12.td3
            %p.p4.ft13  
          %td.tr7.td7
            %p.p4.ft9  
          %td.tr7.td8
            %p.p4.ft9  
          %td.tr12.td6
            %p.p4.ft13  
        %tr
          %td.tr13.td10
            %p.p4.ft6  
          %td.tr13.td3
            %p.p4.ft6  
          %td.tr13.td4
            %p.p4.ft6  
          %td.tr13.td5
            %p.p4.ft6  
          %td.tr13.td6
            %p.p4.ft6  
        %tr
          %td.tr1.td9
            %p.p4.ft2 Message:
          %td.tr1.td10
            %p.p4.ft6  
          %td.tr1.td3
            %p.p4.ft6  
          %td.tr1.td4
            %p.p4.ft6  
          %td.tr1.td5
            %p.p4.ft6  
          %td.tr1.td6
            %p.p4.ft6  
        %tr
          %td.tr3.td9
            %p.p4.ft2 Additional Comments:
          %td.tr3.td10
            %p.p4.ft6  
          %td.tr3.td3
            %p.p4.ft6  
          %td.tr3.td4
            %p.p4.ft6  
          %td.tr3.td5
            %p.p4.ft6  
          %td.tr3.td6
            %p.p4.ft6  
        %tr
          %td.tr14.td9
            %p.p4.ft14  
          %td.tr10.td11
            %p.p4.ft11  
          %td.tr10.td12
            %p.p4.ft11  
          %td.tr10.td7
            %p.p4.ft11  
          %td.tr10.td8
            %p.p4.ft11  
          %td.tr10.td13
            %p.p4.ft11  
        %tr
          %td.tr15.td2{:colspan => "2"}
            %p.p4.ft2 Original Transaction Information
          %td.tr15.td3
            %p.p4.ft6  
          %td.tr15.td4
            %p.p4.ft6  
          %td.tr15.td5
            %p.p4.ft6  
          %td.tr15.td6
            %p.p4.ft6  
        %tr
          %td.tr16.td9
            %p.p14.ft2 Transaction Date:
          %td.tr16.td10
            %p.p18.ft2 //
          %td.tr16.td3
            %p.p4.ft6  
          %td.tr16.td4
            %p.p4.ft6  
          %td.tr16.td5
            %p.p4.ft6  
          %td.tr16.td6
            %p.p4.ft6  
        %tr
          %td.tr17.td2{:colspan => "2"}
            %p.p14.ft2 Cardholder Account Number: xxxxxx
          %td.tr17.td3
            %p.p4.ft6  
          %td.tr17.td4
            %p.p4.ft6  
          %td.tr17.td5
            %p.p4.ft6  
          %td.tr17.td6
            %p.p4.ft6  
        %tr
          %td.tr17.td2{:colspan => "2"}
            %p.p14.ft2 OriginalTransaction Amount:
          %td.tr17.td3
            %p.p4.ft6  
          %td.tr17.td4
            %p.p4.ft6  
          %td.tr17.td5
            %p.p4.ft6  
          %td.tr17.td6
            %p.p4.ft6  
        %tr
          %td.tr17.td2{:colspan => "2"}
            %p.p14.ft2 Acquirer's Reference Number:
          %td.tr17.td3
            %p.p4.ft6  
          %td.tr17.td4
            %p.p4.ft6  
          %td.tr17.td5
            %p.p4.ft6  
          %td.tr17.td6
            %p.p4.ft6  
        %tr
          %td.tr17.td9
            %p.p14.ft2 Pos Entry Mode:
          %td.tr17.td10
            %p.p19.ft2 Original Tran Code:
          %td.tr17.td3
            %p.p4.ft6  
          %td.tr17.td4
            %p.p4.ft6  
          %td.tr17.td5
            %p.p4.ft6  
          %td.tr17.td6
            %p.p4.ft6  
        %tr
          %td.tr6.td9
            %p.p14.ft2 Record Code:
          %td.tr6.td10
            %p.p20.ft2 Second Chargeback
          %td.tr6.td14{:colspan => "4"}
            %p.p21.ft2 Doc Ind:
        %tr
          %td.tr18.td9
            %p.p4.ft6  
          %td.tr18.td10
            %p.p4.ft6  
          %td.tr18.td15{:colspan => "2"}
            %p.p22.ft2 IC:
          %td.tr18.td16{:colspan => "2"}
            %p.p23.ft2 6/15/2016 Visa
    / #include virtual="/convert-pdf-to-html/includes/pdf-to-word-body-tag-between-content.htm"
